{% extends "portal/layout.html" %}

{% block content %}

<div class="container formulario">
    <h3 class="mt-5">Publicar un Artículo</h3>

    <form class="mt-5 mb-5 row" enctype="multipart/form-data" action="{% url 'portal:articulo_nuevo' %}" method="post">
        {% csrf_token %}




        <div class="mb-3 ">
            <label for="titulo" class="form-label d-block">Título:</label>
            <input type="text" name="titulo" class="form-control">
        </div>

        <div class="mb-3">
            <label for="copete" class="form-label d-block">Copete:</label>
            <textarea name="copete" class="form-control" rows=3></textarea>
        </div>

        <div class="mb-3">
            <label for="texto" class="form-label d-block">Texto:</label>
            <textarea name="texto" class="form-control" rows=10></textarea>
        </div>


        <div class="row mt-3">
            <div class="mb-3 col-md-6">
                <label for="titulo" class="form-label d-block">Sección:</label>
                {{ form.seccion }}
            </div>

            <div class="mb-3 col-md-6">
                <label for="titulo" class="form-label d-block">Fecha:</label>
                {{ form.fecha_publicacion }}
            </div>
        </div>



        <label for="imagen" class="form-label d-block">Imagen:</label> {{ form.imagen }}


        <div class="mt-5">
            <a class="btn btn-secondary" type="button" href="{% url 'portal:home'%}">Volver</a>
            <input type="submit" class="btn btn-success ms-3" value="Publicar">
        </div>



    </form>



    {% endblock %}