{% extends "portal/layout.html" %}

{% block content %}

<div class="container">
    <h3 class="mt-5 text-center">Publicar un Artículo</h3>

    <form class="mt-5 row" enctype="multipart/form-data" action="{% url 'portal:articulo_nuevo' %}" method="post">
        {% csrf_token %}


        <div class="mb-3 col-lg-6">

            <div class="mb-3 ">
                <label for="titulo" class="form-label d-block">Título:</label> {{ form.titulo }}
            </div>

            <div class="mb-3 ">
                <label for="descripcion" class="form-label d-block">Copete:</label> {{ form.copete }}
            </div>

            <div class="mb-3">
                <label for="categoria" class="form-label">Seccion:</label> {{ form.seccion }}
            </div>

            <div class="mb-3">
                <label for="fecha" class="form-label">Fecha:</label> {{ form.fecha_publicacion }}
            </div>


        </div>

        <div class="col-lg-6">
            <label for="imagen" class="form-label d-block">Imagen:</label> {{ form.imagen }}
            <div class="mb-3">
                <label for="descripcion" class="form-label d-block mt-3">Texto:</label> {{ form.texto }}
            </div>

            <div class="col mt-5 mb-3 d-flex">
                <a class="btn btn-secondary" type="button" href="{% url 'portal:home'%}">Volver</a>
                <input type="submit" class="btn btn-success ms-3" value="Publicar">
            </div>


        </div>




    </form>



    {% endblock %}