{% extends "portal/layout.html" %}

{% block content %}

<div class="banner"></div>

<div class="nota pt-2 ps-5 pe-2 row">

    <main class="col-lg-8">

        <h5 class="mt-1"><a class="nota__seccion"
                href="{% url 'portal:filtro_secciones' articulo.seccion.id %}">{{articulo.seccion}}</a></h5>

        <h1 class="nota__titulo mt-3">{{articulo.titulo}}</h1>
        <p class="nota__copete">
            {{articulo.copete}}
        </p>
        <h5 class="nota__autor mt-3">Por <span class="nota__autor__nombre">{{autor.nombre}}</span></h5>
        <p class="nota__fecha pb-2">{{articulo.fecha_publicacion}}</p>

        <div class="d-flex justify-content-around mb-3">
            <a class="btn btn-success btn-sm" href="{% url 'portal:articulo_editar' articulo.id %}">Editar Artículo</a>
            <a class="btn btn-danger btn-sm" href="{% url 'portal:articulo_eliminar' articulo.id %}"
                onclick="return confirm('Confirma que desea eliminar el artículo?')">Eliminar
                Artículo</a>
        </div>

        <img class="nota__imagen mt-2 pe-3" src="{{ media_url }}{{ articulo.imagen.url }}" alt="imagen">

        <div class="nota__texto mt-5 me-2 pb-5">
            {{articulo.texto}}
        </div>

        {% if user.is_authenticated %}




        {% endif %}

        <div class="pie__autor d-flex align-items-center mt-5 pb-5 flex-column flex-sm-row">
            <img class="pie__autor__imagen" src="{{ media_url }}{{ autor.foto.url }}" alt="Foto del autor">
            {{autor.imagen}}
            <div class="pie__autor__datos ms-3 mt-2 mt-sm-0">
                <h5 class="mt-2 d-flex justify-content-center justify-content-sm-start">{{autor.nombre}}</h5>
                <div class="mt-2">{{autor.bio}}</div>
                <div class="redes d-flex justify-content-center ms-3 mt-3">
                    <a class="redes-linkedin" target="_blank" href="{{ autor.link_linkedin }}"><i
                            class="fab fa-linkedin-in fa-lg me-5"></i></a>
                    <a class="redes-twitter ps-2" target="_blank" href="{{ autor.link_twitter }}"><i
                            class="fab fa-twitter fa-lg"></i></a>
                </div>

            </div>
        </div>


    </main>

    <aside class="col-lg-4 mt-5 mt-lg-1">
        <h4 class="aside__ultimas text-uppercase align-items-center">Últimas notas</h4>
        {% for articulo in articulos_aside %}
        <div class="aside__mininota mt-3 pb-3">
            <p class="aside__mininota__seccion">{{articulo.seccion}}</p>
            <h5><a href="{% url 'portal:articulo' articulo.id %}"
                    class="aside__mininota__titulo">{{articulo.titulo}}</a></h5>
            <p>{{articulo.fecha_publicacion}}</p>
        </div>
        {% endfor %}
    </aside>
</div>




{% endblock %}