{% extends "portal/layout.html" %}

{% block content %}


<div class="banner"></div>


<div class="container-fluid ms-md-5 mt-md-3 row">
    <h5 class="mt-3">Resultado de la búsqueda</h5>
    <h4 class="aside__ultimas text-uppercase align-items-center">{{texto}}</h4>


    {% for articulo in lista_articulos %}

    <div class="aside__mininota mt-3 pb-3 mb-3">
        <h5><a href="{% url 'portal:articulo' articulo.id %}" class="aside__mininota__titulo">{{articulo.titulo}}</a>
        </h5>
        <p class="nota__copete">
            {{articulo.copete}}
        </p>
        <p>{{articulo.fecha_publicacion}}</p>
    </div>
    {% empty %}
    <h5 class="aside__mininota__titulo mt-3 mb-5">No hay artículos en esta sección.</h5>
    {% endfor %}

</div>

<div class="container w-75 ps-2">
    <h4 class="aside__ultimas text-uppercase align-items-center mt-5">
        Secciones
    </h4>
    <div class="d-flex flex-row flex-wrap justify-content-evenly home__secciones ps-2 mb-5">

        {% for seccion in lista_secciones %}
        <a href="{% url 'portal:filtro_secciones' seccion.id %}"
            class="home__secciones__link fs-5 me-5">{{seccion.descripcion}}</a>
        {% endfor %}

    </div>

</div>

{% endblock %}