{% extends "portal/layout.html" %}

{% block content %}


<div class="container formulario">

    <h3 class="mt-5">Contacto</h3>
    <p>A la brevedad nos estaremos comunicando con usted</p>

    <form class="mt-3 mb-5 row" enctype="multipart/form-data" action="{% url 'portal:contacto' %}" method="post">
        {% csrf_token %}


        <div class="mb-3 ">
            <label for="nombre" class="form-label d-block">Nombre:</label>
            <input type="text" name="nombre" class="form-control">
        </div>

        <div class="mb-3 ">
            <label for="email" class="form-label d-block">Email:</label>
            <input type="text" name="email" class="form-control">
        </div>
        <div class="mb-3">
            <label for="consulta" class="form-label d-block">Mensaje:</label>
            <textarea name="consulta" class="form-control" rows=3></textarea>
        </div>



        <div class="col-6 mb-3">
            <a class="btn btn-secondary" type="button" href="{% url 'portal:home'%}">Volver</a>
            <input type="submit" class="btn btn-success ms-3" value="Enviar">
        </div>
















    </form>

</div>




{% endblock %}