{% extends "portal/layout.html" %}

{% block content %}

<div class="container ps-2">
    <h4 class="aside__ultimas text-uppercase align-items-center mt-5">
        Secciones
    </h4>
    <div class="d-flex flex-row flex-wrap justify-content-evenly home__secciones ps-2 mb-5">

        {% for seccion in lista_secciones %}
        <a href="{% url 'portal:filtro_secciones' seccion.id %}"
            class="home__secciones__link fs-5 me-5">{{seccion.descripcion}}</a>
        {% endfor %}

    </div>

</div>

<div class="container-fluid row">
    <main class="col-lg-8">
        <div id="carouselExampleCaptions" class="carousel slide mt-2 d-none d-md-block" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">


                {% for articulo in articulos %}

                {% if forloop.first %}
                <div class="carousel-item active">
                    {% else %}
                    <div class="carousel-item">
                        {% endif %}
                        <img src="{{ media_url }}{{ articulo.imagen.url }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption">
                            <a href="{% url 'portal:articulo' articulo.id %}">
                                <h5 class="carousel__titulo m-2">{{articulo.titulo}}</h5>
                            </a>
                            <p class="carousel__seccion">{{articulo.seccion}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
    </main>

    <aside class="col-lg-4 mt-2 mb-2">
        <h4 class="aside__ultimas text-uppercase align-items-center">Últimas notas</h4>

        {% for articulo in articulos %}
        <div class="aside__mininota mt-3 pb-3">
            <p class="aside__mininota__seccion">{{articulo.seccion}}</p>
            <h5><a href="{% url 'portal:articulo' articulo.id %}"
                    class="aside__mininota__titulo">{{articulo.titulo}}</a></h5>
            <p>{{articulo.fecha_publicacion}}</p>
        </div>
        {% endfor %}

    </aside>
</div>


{% endblock %}