<!DOCTYPE html>
<html lang="es">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sitio web de Auditfind, noticias profesionales de Auditoria y Contabilidad">

    <script src="https://kit.fontawesome.com/327f29ceb7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.tiny.cloud/1/9iz4gycvmy4lbqxyl79v2obpuve8n3f2a8846an69of3ec40/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Auditfind</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="row mb-1">
                <div class="header__logo col-12 col-lg-4 justify-content-center mb-3 mb-lg-0">
                    <a href="{% url 'portal:home' %}"><img class="header__logo__imagen mx-auto d-block"
                            src="{% static 'img/Logo_Auditfind.png' %}" alt="Logo Auditfind"></a>
                </div>
                <div class="col-lg-4 d-flex align-items-center justify-content-center mb-3 mb-lg-0">
                    <h6>{{fecha}}
                    </h6>
                </div>

                <nav class="redes col-lg-4 d-flex align-items-center justify-content-center mb-3 mb-lg-0">
                    <a class="redes-twitter" href="#"><i class="fab fa-twitter fa-lg me-3"></i></a>
                    <a class="redes-facebook" href="#"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                    <a class="redes-linkedin" href="#"><i class="fab fa-linkedin-in fa-lg"></i></a>
                </nav>
            </div>
        </div>

        <nav class="navbar navbar-expand-md navbar-dark bg-dark text-uppercase">
            <div class="container">
                <a class="navbar-brand" href="{% url 'portal:home' %}"><i class="fas fa-home"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse bg-dark p-2 p-md-0" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item dropdown ms-3">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Artículos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'portal:articulos' %}">Ver todos</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                {% for seccion in lista_secciones %}
                                <li><a class="dropdown-item"
                                        href="{% url 'portal:filtro_secciones' seccion.id %}">{{seccion.descripcion}}</a>
                                </li>
                                {% endfor %}
                                <hr class="dropdown-divider">
                                {% if user.is_authenticated %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'portal:autor_editar' %}">Editar mis datos</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'portal:articulo_nuevo' %}">Crear
                                        artículo</a>
                                </li>

                                {% endif %}

                            </ul>
                        </li>
                        <li class="nav-item dropdown ms-3">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Descargas
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Normativa</a></li>
                                <li><a class="dropdown-item" href="#">Doctrina</a></li>
                            </ul>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="nav-link active" href="{% url 'portal:nosotros' %}">Nosotros</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="nav-link active" href="{% url 'portal:contacto' %}">Contacto</a>
                        </li>


                    </ul>
                    <form class="d-flex" action="{% url 'portal:busqueda' %}" method="POST">
                        {% csrf_token %}
                        <input class="form-control" type="search" name="texto" aria-label="Search">
                        <button class="btn btn-outline-dark btn-sm navbar__boton-buscar ms-1"
                            type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% if messages %}
        {% for mensaje in messages %}
        <div class="alert alert-success alert-dismissible container text-center mt-3" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {{ mensaje }}
        </div>

        {% endfor %}
        {% endif %}

        {% block content %}

        {% endblock %}
    </main>


    <footer>
        <div class="row container-fluid align-items-center">
            <img class="footer__logo col-12 col-lg-3 mt-3 mt-lg-1 mx-auto d-block"
                src="{% static 'img/Logo_Auditfind.png' %}" alt="Logo Auditfind">

            <div class="col-lg-6 mt-5 mt-lg-1 mb-5 mb-lg-0 text-center">
                <div class="redes mb-4">
                    <a class="redes-twitter" href="#"><i class="fab fa-twitter fa-lg me-3"></i></a>
                    <a class="redes-facebook" href="#"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                    <a class="redes-linkedin" href="#"><i class="fab fa-linkedin-in fa-lg"></i></a>
                </div>

                {% if user.is_authenticated %}
                <div class="d-flex gap-3 align-items-center justify-content-center">
                    <p class="mt-2">Estas conectado como: {{ user.get_username }}</p>
                    <a class="btn btn-secondary footer__boton__login"
                        href="{% url 'logout'%}?next={{request.path}}">Salir</a>
                </div>


                {% else %}
                <div>
                    <a href="{% url 'login'%}?next={{request.path}}" class="btn btn-secondary footer__boton__login">
                        Iniciar sesión</a>
                </div>
                {% endif %}
            </div>
        </div>
        <p class="footer__texto pb-2 pt-2 mt-lg-1 mb-0 text-center text-uppercase">Copyright <span><i
                    class="fas fa-copyright"></i></span>
            Auditfind 2021. Todos los derechos reservados</p>

    </footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

</body>

</html>