{% extends "portal/layout.html" %}

{% block content %}


<div class="container p-3 nosotros">

    <h3 class="nosotros__titulo mt-5 ms-2 ms-md-5">Nosotros</h3>

    <div class="card mt-5">
        <div class="card-body row">
            <h5 class="col-lg-2 col-12 pe-5 text-lg-end nosotros__conceptos">VISION</h5>
            <p class="card-text col-lg-10 col-12 nosotros__texto">Ser la principal red de profesionales auditores y
                contadores en
                Latinoamérica
            </p>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-body row">
            <h5 class="col-lg-2 col-12 pe-5 text-lg-end nosotros__conceptos">MISION</h5>
            <p class="card-text col-lg-10 col-12 nosotros__texto">Somos una organización interdisciplinaria e innovadora
                que
                contribuye
                al
                fortalecimiento profesional de
                auditores y contadores
            </p>
        </div>
    </div>

    <div class="card mt-2 mb-5">
        <div class="card-body row">
            <h5 class="col-lg-2 col-12 pe-5 text-lg-end nosotros__conceptos">FINES</h5>
            <ul class="card-text col-lg-10 col-12 nosotros__texto nosotros__lista lh-base">
                <li>Promover y facilitar la capacitación continua de profesionales</li>
                <li>Desarrollar mecanismos de cooperación entre los profesionales adheridos</li>
                <li>Administrar información oportuna sobre todo tipo de normas o reglamentaciones que rigen para la
                    actividad
                    profesional</li>
                <li>Aportar artículos de actualización profesional</li>
            </ul>

        </div>
    </div>

</div>




{% endblock %}